{% extends "form/header.html" %}
{% block content %}

<div class="col-sm-2">
  <br>
</div>

<div class="col-sm-8">
	<div class="alert alert-success" role="alert">
	  <h4 class="alert-heading">Order submitted:</h4>
    <br>
		<span class="indent">1x {{ item }} - {{ crust }} crust</span>
    <br>
    <br>
	  <p>Aww yeah, you better be ready for some hot, sweaty... pizza!</p>
		<p>Be sure to make payment for your order before Friday 11:00, or your order will probably be forgotten.</p>
	  <br>
    <a href="/cancel/" class="btn btn-primary btn active" role="button" aria-pressed="true">Cancel order</a>
	</div>
<br>
<a href="" class="btn btn-primary btn active" role="button" aria-pressed="true">Place another order</a>
</div>

{% endblock %}
